@import "general_colors.css";


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box; 
  /* font-family: 'Poppins', sans-serif; */
  font-family: Arial, Helvetica, sans-serif;
  caret-color: transparent;
  /* color: #333E48; */
}

body {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  padding: 10px;
  /* background: linear-gradient(135deg, var(--color-one), var(--color-two)); */
  /* background: linear-gradient(135deg, #faf7fb, #ebdef0); */
  /* background: radial-gradient( #cdacda, white); */
  background: var(--background-color);
  /* background: white; */
  color: var(--text-color);
}

.container {
  max-width: 700px;
  max-height: 95vh;
  width: 100%;
  background: #fff;
  padding: 25px 30px;
  border-radius: 5px;
  overflow-y: auto;

  /* background-color: #f5eef8; */
  border: 1px solid #E5E5E5;
  /* border-image: linear-gradient(#f6b73c, #4d9f0c) 30;
  border-width: 4px;
  border-style: solid; */
  /* box-shadow: 0 30px 40px #9b59b6; */
  /* -webkit-box-shadow: 0 0 5px 2px #9b59b6;
    -moz-box-shadow: 0 0 5px 2px #9b59b6;
    box-shadow: 0 0 5px 2px #9b59b6; */

    /* display: flex;
    flex-direction: column;
    justify-content: start; */
    background-color: var(--container-background-color);
}

.container .title {
  font-size: 25px;
  font-weight: 500;
  margin-bottom: 1rem;

  color: var(--main-color);
  border-bottom: 1px solid #E5E5E5;
  text-align: center;
  padding-bottom: 1rem;
}

.container .title::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 30px;
}

/* #item-form .instructions {
  margin: 20px 0 12px 0;
  line-height: 1.5;
} */
#item-form {
  min-height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#item-form .instructions {
  /* margin: 0 0 12px 0; */
  line-height: 1.5;
  /* font-size: 16px; */
  /* letter-spacing: 1px; */
}

/* membership function expression span */
#expression {
  font-weight: 600;
}




@media (max-width: 600px) {
  .container{
      max-width: 100%;
  }
}
