@import "general_styles.css";
@import "inputs.css";
@import "buttons.css";
@import "expressions.css";
@import "draggable.css";
@import "warnings.css";


.container {
  max-width: 1000px;
}

.btn {
  margin-top: 1rem; 
}


/* text above containers */
.ranking-text,
.input-text {
  line-height: 1.5;
  font-weight: 600;
  /* color: #444; */
  color: var(--text-color);
  margin: 1rem;
  font-size: 16px;
  /* font-weight: 500; */
  letter-spacing: 0.5px;
  text-align: center;
}


/* input container */

.content-container {
  display: flex;
  justify-content: space-between; 
  
}

.left-side {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.input-field {
  display: flex;
  justify-content: space-between;
}

.form-input{
  height: 45px;
  width: 100%;
  margin-top: 1rem;

  outline: none;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding-left: 15px;
  font-size: 16px;
  border-bottom-width: 2px;
  transition: all 0.3s ease;

  background-color: var(--container-background-color);
  color: var(--text-color);
}

.btn-add {
  height: 45px;
  width: 100px;
  padding: 0.5rem;
  font-size: 14px;
  margin-left: 1rem;
  /* margin-bottom: 1rem; */
}

.btn-add:hover {
  background: var(--main-color-dark);
}


/* ranking container */

.right-side {
  width: 40%;
  margin-left:1rem;
  margin-right: 1rem;
}

.ranking{
  /* border: 2px solid #ccc; */
  border-radius: 5px;
  padding: 0 0.5rem 0;
  width: 100%;
}

.blank {
  height: 38px;
  padding: 0.5rem;
  margin: 0.5rem;
  /* position: absolute; */

  display: flex;
  justify-content: center;

  border: 2px solid #ccc;
  border-radius: 5px;
  /* background-color: #f8f8f8; */
  text-align: center;
  opacity: 0.5;
  cursor: default;
}

.ranking-container{
  display: flex;
}

.scale-container table {
  height: 100%;
  border-collapse: collapse;
}

.scale-label {
  /* height: 50px; */
  /* width: 40px; */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 5px;
  line-height: 1.5;
  font-weight: 600;
  /* color: #444; */
  color: var(--text-color);
  /* border: 2px solid #444; */
}

.scale {
  display: flex;
  width: 100%;
}

.label-box {
  display: flex;
  width: 30px;
}

.label-box-lines {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* width: 50px; */
  /* align-items: center; */
  /* flex-wrap: wrap; */
  /* height: 100%; */

}

/* .label-box-lines div {
  width: 100%;
  border-left: 2px solid #444;
} */

.bigger-lines {
  width: 20px;
}
.smaller-lines {
  /* width: 100%; */
  width: 10px;
}

.border-left {
  border-left: 2px solid #888;
}
.border-top {
  border-top: 2px solid #888;
}

.line {
  height: 100%;
}




#item-form .instructions {
  margin: 0;
  line-height: 1.5;
}


/* warnings */
/* .warning-add{
  width: 100%;
  padding: 0.5rem;
  display: flex;
  justify-content: start;
  align-items: center;
  color: red;
  border: 2px solid red;
  border-radius: 5px;
}

.warning-add #warning-text {
  width: 100%;
  padding-left: 1rem;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 1px;
}

#warning-container-next {
  display: flex;
  justify-content: end;
  margin-top: 1rem;
  min-height: 30px;
}

.warning-next{
  display: flex;
  padding: 0.2rem 0.5rem;
  align-items: center;
  color: red;
  border: 2px solid red;
  border-radius: 5px;
}

.warning-next #warning-text {
  padding-right: 1rem;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1px;
} */