@import "general_styles.css";
@import "inputs.css";
@import "buttons.css";
@import "expressions.css";
@import "draggable.css";
@import "warnings.css";


.container {
  max-width: 1000px;
}

.btn {
  margin-top: 1rem; 
}


/* text above containers */
.ranking-text,
.input-text {
  line-height: 1.5;
  font-weight: 600;
  color: #444;
  margin: 1rem;
  font-size: 16px;
  /* font-weight: 500; */
  letter-spacing: 0.5px;
  text-align: center;
}


/* input container */

.content-container {
  display: flex;
  justify-content: space-between; 
  
}

.left-side {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.form-input{
  height: 45px;
  width: 100%;
  margin-top: 1rem;

  outline: none;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding-left: 15px;
  font-size: 16px;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}

.btn-add {
  height: 45px;
  width: 100%;
  padding: 0.5rem;
  font-size: 16px;
  margin-bottom: 1rem;
}


/* ranking container */

.middle {
  width: 40%;
  margin-left:1rem;
  margin-right: 1rem;
}

.ranking-container{
  border: 2px solid #ccc;
  border-radius: 5px;
  padding: 0 0.5rem 0;
}

.blank {
  height: 38px;
  padding: 0.5rem;
  margin: 0.5rem;
  /* position: absolute; */

  display: flex;
  justify-content: center;

  border: 2px solid #ccc;
  border-radius: 5px;
  /* background-color: #f8f8f8; */
  text-align: center;
  opacity: 0.5;
  cursor: default;
}




/* expression container */

.right-side {
  float: right;
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.expression-container {
  height: 590px;
}



#item-form .instructions {
  margin: 0;
  line-height: 1.5;
}


/* warnings */
/* .warning-add{
  width: 100%;
  padding: 0.5rem;
  display: flex;
  justify-content: start;
  align-items: center;
  color: red;
  border: 2px solid red;
  border-radius: 5px;
}

.warning-add #warning-text {
  width: 100%;
  padding-left: 1rem;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 1px;
}

#warning-container-next {
  display: flex;
  justify-content: end;
  margin-top: 1rem;
  min-height: 30px;
}

.warning-next{
  display: flex;
  padding: 0.2rem 0.5rem;
  align-items: center;
  color: red;
  border: 2px solid red;
  border-radius: 5px;
}

.warning-next #warning-text {
  padding-right: 1rem;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1px;
} */